html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive, 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    color: #2f3d48;
}

.text,
.moves {
  font-family: 'Gloria Hallelujah', cursive, 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  color: #2f3d48;

}

.restart {
  width: 30px;
  background-color: ;
  text-align: center;
  border-radius: 15%;
  border: 0.5px solid #d3d1d1;
  color: #2f3d48;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.47);
  margin-top: 7px;

}

.score-panel {


}

.stars {


}

.timer {

  display:inline-block;
}
/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg,  #f7b733 30%, #fc4a1a 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 22%;
    background: #40515e;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin-bottom: 10px;


    /*transform-style: preserve-3d;
    transition: transform 1s;  */
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    transform: rotateY( 180deg );
    transition: transform 0.3s;
    /*transition: "all, 0.5s";*/
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.fail {
    transform: rotateY(0);
    background: #E85256;
    cursor: default;
}

.shake {
    animation: shake 0.82s;
    backface-visibility: hidden;
    perspective: 1000px;
}

.bounceIn {
    animation: bounceIn 0.82s;
    backface-visibility: hidden;
    perspective: 1000px;
}

/*
 * Styles for the annimation of cards
 */

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
